.Hero{
    width: 100%;
    height: 50%;
    display: flex;
}

.image{
    width: 0;
    padding-right: -50vh;
}

.luxeAssistance{
    text-transform: capitalize;
  
}

.myDiv{
    padding-left: 10vh;
}

.button{
    padding-left: 10vh;
}