.menuDiv{
    width: 40%;
}

.menuList{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-right: 10vh;
}